<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
-->
<!--
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
-->

<div *ngIf="identity" class="navigation col-lg-1">
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      {{title}}
    </a>
  </h1>

  <nav id="navigation">
    <a href="#">
      <br/>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Search
    </a>
    <a [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
      <br/>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Artists
    </a>
    <a href="#">
      <br/>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      Albums
    </a>
  </nav>
    
  <nav id="user_logged">
     <div class="user-image">
        <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}"/>
      </div>
    <span id="identity_name">
      {{identity.name}}
    </span>
   <!-- <br>
    <button type="button" class="btn btn-dark" (click)="logout()">
      SingOut
    </button> -->
    
    <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Settings
    </a>
    <a (click)="logout()" class="btn-logout">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      LogOut
    </a>
  </nav>
</div>

<!--
<div class="clearfix"></div>
-->

<div [class.hidden]="!identity" class="central col-lg-11">
<!--  <p>You are logged</p> -->
  <router-outlet></router-outlet>
</div>

<!-- identificacion -->
<div *ngIf="!identity" class="col-lg-7">
  <div class="col-lg-6">
    <h1>Identification</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        <strong>Error</strong> {{errorMessage}}
      </div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
      <p>
        <label>Email</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
        
      </p>
      <p>
        <label>Password</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
      </p>

      <input type="submit" value="Get in" class="btn btn-primary" />
    </form>
  </div>

<!-- resgistro -->
  <div class="col-lg-6">
    <h1>Registration</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-success" role="alert">
        {{alertRegister}}
      </div>
    </div>
    <form #regiterForm="ngForm" (ngSubmit)= "onSubmitRegister()" class="col-md-7">
      <p>
        <label>Name</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required />
        <span *ngIf="!name.valid && name.touched">
          <p style="color:#FF0000">Field Required!!</p>
        </span>
      </p>

      <p>
        <label>Surname</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required />
        <span *ngIf="!surname.valid && surname.touched">
          <p style="color:#FF0000">Field Required!!</p>
        </span>
      </p>

      <p>
        <label>Email</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required />
        <span *ngIf="!email.valid && email.touched">
          <p style="color:#FF0000">Field Required!!</p>
        </span>
      </p>

      <p>
        <label>Password</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required />
        <span *ngIf="!password.valid && password.touched">
          <p style="color:#FF0000">Field Required!!</p>
        </span>
      </p>

      <input type="submit" value="Submit" class="btn btn-primary" />

    </form>
  </div>
</div>